<div class="display-regular fuel-row OOOI-text">
    <div class="col-md-3 ">
      <div class="info-title ">OOI/ACARS</div>
      <div class="col-md-6 padding-left"> Out:09:02 L <br> On: 09:16L</div>
      <div class="col-md-6 white-space move-left">Off: 10/01 - 13:35L <br> In: 10/01 - 11:40L</div>
    </div>
    <div class="col-md-2 margin-left">
      <div class="info-title"> ON TIME</div>
      <div class="on-time-precent"> 95%</div>
      <div class="info-title-3"> Month to Date</div>
    </div>
    <div class="col-md-2">
      <div class="info-title">DEPATURE FUEL</div>
      <div class="col-md-6 padding-left"><span class="on-time-precent">(actual)</span> <br> Actual</div>
      <div class="col-md-6 "> (planned) <br>Planned</div>
    </div>
    <div class="col-md-2 margin-left">
      <div class="info-title">FUEL BURNED</div>
      <div class="col-md-6 padding-left"><span class="on-time-precent">(burned_actual)</span> <br> Actual</div>
      <div class="col-md-6"> (burned_planned) <br>Planned</div>
    </div>
    <div class="col-md-2 margin-left">
      <div class="info-title">ARRIVAL FUEL</div>
      <div class="col-md-6 padding-left"><span class="on-time-precent">(arrival_actual)</span> <br> Actual</div>
      <div class="col-md-6">(arrival_planned)<br>Planned</div>
    </div>
  </div>
  <div class="small-screen row col-lg-12 col-sm-12">
    <div class="col-lg-12 col-sm-12 clear">
      <div class="info-title header-format">OOI/ACARS</div>
      <div class="col-lg-6 col-sm-6 align col-xs-6"> Out:09:02 L <br> On: 09:16L</div>
      <div class="col-lg-6 col-sm-6 align col-xs-6 white-space">Off: 10/01 - 13:35L <br> In: 10/01 - 11:40L</div>
    </div>
    <div class="col-lg-12 col-sm-12 clear">
      <div class="col-lg-6 col-sm-6 col-xs-6 header-format-shared">
        <div class="info-title"> ON TIME</div>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-6 header-format-shared">
        <div class="info-title">ARRIVAL FUEL</div>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12">
      <div class="col-lg-6 col-sm-6 col-xs-6 align">
        <div class="on-time-precent"> 95%</div>
        <div> Month to Date</div>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-6 align">
        <div class="col-lg-6 col-sm-6 col-xs-6 align">
          <span class="on-time-precent">89lbs</span> <br> Actual
        </div>
        <div class="col-lg-6 col-sm-6 align">
          75lbs <br>Planned
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 clear">
      <div class="info-title header-format">DEPATURE FUEL</div>
      <div class="col-md-6 col-sm-6 align col-xs-6"><span class="on-time-precent">585lbs</span> <br> Actual</div>
      <div class="col-md-6 col-sm-6 align col-xs-6"> 585lbs <br>Planned</div>
    </div>
    <div class="col-lg-12 col-sm-12 clear">
      <div class="info-title header-format">FUEL BURNED</div>
      <div class="col-md-6 col-sm-6 align col-xs-6"><span class="on-time-precent">496lbs</span> <br> Actual</div>
      <div class="col-md-6 col-sm-6 align col-xs-6"> 500lbs <br>Planned</div>
    </div>
  </div>