<div class="content-container">
    <h5 class="tab-header">Flight & Inflight Crew</h5>
    <div class="container">
      <div class="row">
        <!--ngFor the md-card-->
        <div>
          <!-- <be-crew-card>Loading...</be-crew-card> -->
          <crew-card></crew-card>
        </div>
        <!--end of ngFor the md-card-->
      </div>
    </div>
    <!--<p>I'M DEBUGGING OVER HEEEREEE: </p>
    <pre>{{ userStateSelector.routeParameters$ | async | json }}</pre>-->
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="customers-header">Customers</div>
          <div class="aircraft-title">Aircraft</div>
          <table class="table crew-table">
            <thead>
            <tr class="table-header">
              <th></th>
              <th>CORE</th>
              <th>MINT</th>
              <th>TOTAL</th>
            </tr>
            </thead>
            <tbody class="table-content">
            <tr>
              <td class="row-title cell-width">CAPACITY</td>
              <td class="cell-width numbers">102</td>
              <td class="cell-width numbers">8127</td>
              <td class="cell-width numbers">675</td>
            </tr>
            </tbody>
          </table>
          <div class="aircraft-title">Customers</div>
          <table class="table crew-table">
            <tbody class="table-content">
            <tr>
              <td class="row-title cell-width">CONFIRMED</td>
              <td class="cell-width numbers">135</td>
              <td class="cell-width numbers">9</td>
              <td class="cell-width numbers">144</td>
            </tr>
            <tr>
              <td class="row-title ">CHECKED IN</td>
              <td class="cell-width numbers">127</td>
              <td class="cell-width numbers">9</td>
              <td class="cell-width numbers">139</td>
            </tr>
            </tbody>
          </table>
          <div class="aircraft-title">Standby</div>
          <table class="table crew-table">
            <tbody class="table-content">
            <tr>
              <td class="row-title cell-width">LISTED</td>
              <td class="cell-width numbers">25</td>
              <td class="cell-width numbers">9</td>
              <td class="cell-width numbers">144</td>
            </tr>
            <tr>
              <td class="row-title ">CHECKED IN</td>
              <td class="cell-width numbers">127</td>
              <td class="cell-width numbers">9</td>
              <td class="cell-width numbers">139</td>
            </tr>
            <tr>
              <td class="row-title cell-width">ACCOMMODATED</td>
              <td class="cell-width numbers">25</td>
              <td class="cell-width numbers">9</td>
              <td class="cell-width numbers">144</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="connections-title">Connections</div>
          <div class="inbound-outbound-switch">
            <a class="inbound selected-table"> Inbound (3) </a>
            <a class="outbound"> Outbound (3) </a>
          </div>
         <div class="be-connections">
           <!-- <be-outbound-connect></be-outbound-connect> -->
           <!-- <be-inbound-connect></be-inbound-connect> -->
         </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="ssrs-title">Total Special Requests (4)</div>
        <table class="table crew-table">
          <tbody class="table-content">
          <tr>
            <td class="ssr-title ssr-width">Premium</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
          <tr>
            <td class="ssr-content ssr-width"><span class="srr-content-bold"> 1 Mos </span> <br> Moasic Customer</td>
          </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
  