<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened> 
      <flight-info-bar></flight-info-bar>
    </mat-drawer>
    <div class="row blue-eye-tabs normal-tab-text">
        <nav md-tab-nav-bar class="full-height">
          <a class="col-md-3 blue-eye-tab">
            <i class="fa fa-plane" aria-hidden="true"></i>
            <span class="hidden-md-down">On Board</span>
          </a>
          <a class="col-md-3 blue-eye-tab">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span class="hidden-md-down">Details & History</span>
          </a>
          <a class="col-md-3 blue-eye-tab">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            <span class="hidden-md-down">Reporting</span>
          </a>
          <a class="col-md-3 blue-eye-tab">
            <i class="fa fa-map" aria-hidden="true"></i>
            <span class="hidden-md-down">Map</span>
          </a>
          </nav>
        </div>
          <div class="history-nav-wrapper">  
    <!--<be-history-navigation *ngIf="checkIfCurrentTabIsHistoryTab()"></be-history-navigation> -->
         <history-navigation></history-navigation>
  </div> 
  <div class="outer-container">
    <div class="inner-container">
      <!-- TODO: Create fuel-stats-bar component -->
      <!-- <be-fuel-stats-bar *ngIf="checkIfCurrentTabIsHistoryTab()"></be-fuel-stats-bar> -->
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</mat-drawer-container> 
