<div class="searchContent">
  <div class="col-sm-10 jb-Title-padding">
    <!-- <ys-icon height="1.3em" width="1.3em" class="magnmifying-glass-icon" type="magnifying-glass"></ys-icon> -->
    <span class="search-title ">Let's Search</span>
  </div>
  <mat-select class="md-select-trigger" placeholder="Search Option">
        <!-- <mat-option class="md-select-trigger" *ngFor="let options of searchby" [value]="options.code">{{ options.name }}</mat-option> -->
    <mat-option>Name</mat-option>
      </mat-select>
  <br>

  <div class="search-form">
      <!-- <div class="search-form" *ngIf="(default === 'OD')" > -->
    <!-- <ys-city-pair-form (isCollapsedEvent)="toggleAnimation($event)"></ys-city-pair-form> -->
    <city-pair-form></city-pair-form>
    </div>
    

</div>